@charset "utf-8";
/* CSS Document */
body{
	background-color:#999;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
}
#nCanvas{
	display:block;
	background:#fff;
	margin:0px 0px auto;
}
